.App {

  .header-address {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nickname-label {
    max-width: 15rem;
    max-height: 25px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
}

.avatar-modal {
  .modal-dialog {
    max-width: 1000px;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-left: -50px;
  margin-top: -50px;
}

.user-image {
  border-radius: 50%;
  object-fit: cover;
}